/* TODO fix the scss folder structure*/
/*TODO set colors to variables*/
/*TODO fix sizes of the icons*/
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");*/
/*TODO Fix a background on the main page*/
$lightpink: #eed6f5;
$logocolor: #d070eb;
$pink:#e9bbf6;
$section-pink:#ead5ef;
$background-pink:#eee7ef;

.recipe{
    background-color:$lightpink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 1rem;
}

.recipe-link{
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}


@media only screen and (min-width: 800px) {

    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 5rem;
        justify-content: space-evenly;
        border-radius: 1rem;
    }

    .section{
        width: 43%;
        margin: 1rem;
    }

    .recipe{
        width: 50%;
    }

}

@media only screen and (max-width: 800px) {
    .recipe{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .section{
        margin: 1rem;
    }
    
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

.header{
    font-weight:600;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    
}
.logo-img{
    max-width: 15%;
}
.nav-img{
   max-width: 25%;
   background-color: $logocolor;
   padding: 0.5rem;
   border-radius: 50%;
   overflow: visible;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-grow:0;
}

.menu-options{
    flex-basis: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.container{
    background-color: $background-pink;
}
.pizza-img{
    width: 100%;
    border-radius: 1rem;
}
.mini-menu{
    background-color: $pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 1rem;
}

.clock-img{
    height: 1.2rem;
}

.time{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.total-rating{
    padding-bottom: 1rem;
}

.ingredients{
    background-color: $section-pink;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
} 

.ingredient{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.portions{
    width: 2rem;
    height: 1.5rem;
    background-color: $pink;
    font-weight: bold;
    border-radius: 0.5rem;
    border: solid $logocolor;
}

.step-list{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.steps{
    background-color: $pink;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
}

.checkbox{
    accent-color: $logocolor;
}

#timer-btn{
    border-radius: 0.5rem;
    border: $background-pink black 2px;
    margin-left: 1rem;
    background-color: $pink;
}
#timer-btn:hover{
    background-color: $logocolor;
}

.new-rate{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#comment{
    height: 1.5rem;
    border: $pink solid 2px;
    border-radius: 0.7rem;
    margin: 1rem;
    padding: 0.5rem;
}

#post{
    width: 4em;
    height: 2em;
    border-radius: 5px;
    border: $pink solid 2px;
    background-color: $lightpink;
}

#post:hover{
    background-color: $logocolor;
}

.comment-section .comment {
    border: 2px solid $pink;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

.rating {
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 1rem;
    overflow: hidden;
    
}
.rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
}

.rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
    color: gold;
}
