.body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.5rem;
}

.header{
    font-weight:600;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: white;
    border: 2px solid purple;
    
}
.logo-img{
    max-width: 20%;
}
.nav-img{
   max-width: 40%;
   background-color: rgb(219, 79, 219);
   padding: 0.5rem;
   border-radius: 2.2rem;
   display: flex;
   align-items: center;
   justify-content: center;

}

.menu-options{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
}

.menu-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 


.img{
   background-color: yellow;
   width: 100%;
}

.pizza-img{
    width: 100%;
}
.mini-menu{
    background-color: rgb(119, 119, 176);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    height: 15rem;
}



.ingredients{
    background-color: rgb(247, 247, 247);
} 

.ingredient{
    display: flex;
    justify-content: space-between;
}

.portions{
    width: 2rem;
    height: 1.5rem;
    background-color: rgb(197, 165, 197);
    font-weight: bold;
    margin: 1rem;
}

.step-list{
    background-color: green;
}

.new-rate{
    background-color: brown;
}