.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: white;
    border: 2px solid purple;
    
}

.menu-options{
    width: 40%;
    display: flex;
    justify-content: space-around;
}


.img{
   background-color: yellow;
   width: 100%;
}

.mini-menu{
    background-color: blue;
}

.ingredients{
    background-color: red;
}

.step-list{
    background-color: green;
}

.new-rate{
    background-color: brown;
}